{% extends 'pages/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Compare with actual data
{% endblock %}



{% block body_block %}

    <link href="{% static "/css/actual.css"%}" rel="stylesheet">
      <div id="model">
    <div class="info">
        <form class="form" id="graphData2" role="form" method="post" action=".">
            {% csrf_token %}
            <div class="cont">
                <label class="my-1 mr-2">Date:</label>
                <label class="myLabel">Solar-Panel:</label>
            </div>
            <input id="date2" class="date" type="date" name="day" value="date" max="{{ yesterday }}" min="2019-02-08">
            <select id="gen" name="generator" class="custom-select my-1 mr-sm-2">
                <option selected>Generator...</option>
                {% for gen in generators %}
                    <option value="{{ gen }}">{{ gen.0 }}</option>
            {% endfor %}
	    </select>
            <br>
            <input id="generate2" class="gen2" type="submit" value="Generate" style="cursor: pointer">
        </form>
	</div>
    </div>
    <div id="compareGraph">
    </div>
{% endblock %}
