{% extends 'pages/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Home
{% endblock %}



{% block body_block %}

    <link href="{% static "/css/index.css"%}" rel="stylesheet">
      <div id="model">
    <div class="info">
        <form class="form" id="graphData" role="form" method="post" action=".">
            {% csrf_token %}
            <div class="cont">
                <label class="my-1 mr-2">Date:</label>
                <label class="myLabel">Solar-Panel:</label>
                <label class="my-1 mr-2">Location:</label>
            </div>
            <input id="date" class="date" type="date" name="day" value="date" max="{{ yesterday }}">
            <select id="gen" name="generator" class="custom-select my-1 mr-sm-2">
                <option selected>Generator...</option>
                {% for gen in generators %}
                    <option value="{{ gen }}">{{ gen }}</option>
                {% endfor %}
            </select>
            <select id="loc" name="location" class="custom-select my-1 mr-sm-2">
                <option selected>Location...</option>
                {% for c in cities %}
                    <option value="{{ c }}">{{ c }}</option>
                {% endfor %}
            </select>
            <br>
            <input id="dateC" class="date" type="date" name="day" value="date" max="{{ yesterday }}">
            <select id="genC" name="generator" class="custom-select my-1 mr-sm-2">
                <option selected>Generator...</option>
                {% for gen in generators %}
                    <option value="{{ gen }}">{{ gen }}</option>
                {% endfor %}
            </select>
            <select id="locC" name="location" class="custom-select my-1 mr-sm-2">
                <option selected>Location...</option>
                {% for c in cities %}
                    <option value="{{ c }}">{{ c }}</option>
                {% endfor %}
            </select>
            <br>
            <input class="compare" id="comp" type="checkbox" style="cursor: pointer">
            <label class="compL">Compare</label>
            <br>
            <input id="generate" class="gen" type="submit" value="Generate" style="cursor: pointer">
        </form>
	</div>
    </div>
    <div id="graph">
    </div>
    <script src="{% static "/js/index.js"%}"></script>

{% endblock %}
