{% extends 'pages/base.html' %}
{% load staticfiles %}
{% block title_block %}
  New Panel
{% endblock %}



{% block body_block %}

<link href="../../static/css/new.css" rel="stylesheet">

<div class="newPanel">
<a id="back" class="backBtn" title="Cancel" href="{% url 'panels' %}">⬅</a>
<br>
<label id="title" ">Add New Solar Panel:</label>
	<br>
<form id="genData" role="form"  method="get" action="/addNew">
{% csrf_token %}
<table id="table">
<tbody>
<tr>
<td>Genarator Name: </td>
<td><input class="form-control" id="id_name" maxlength="30" name="name" type="text" 
        placeholder="Name" required/></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Area: </td>
<td><input class="form-control" id="id_area" name="area" type="number" step="0.001" 
        placeholder="Area" required/></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>STC: </td>
<td><input class="form-control" id="id_Sisc" name="Sisc" type="number" step="0.001" 
        placeholder="Isc" required/></td>
<td><input class="form-control" id="id_Svoc" name="Svoc" type="number" step="0.001" 
        placeholder="Voc" required/></td>
<td><input class="form-control" id="id_Smpp" name="Smpp" type="number" step="0.001" 
        placeholder="Mpp" required/></td>
<td><input class="form-control" id="id_Simp" name="Simp" type="number" step="0.001" 
        placeholder="Imp" required/></td>
<td><input class="form-control" id="id_Svmp" name="Svmp" type="number" step="0.001" 
        placeholder="Vmp" required/></td>
<td><input class="form-control" id="id_Sff" name="Sff" type="number" step="0.001" 
        placeholder="FF" required/></td>
</tr>
<tr>
<td>NOCT: </td>
<td><input class="form-control" id="id_Nisc" name="Nisc" type="number" step="0.001" 
        placeholder="Isc" required/></td>
<td><input class="form-control" id="id_Nvoc" name="Nvoc" type="number" step="0.001" 
        placeholder="Voc" required/></td>
<td><input class="form-control" id="id_Nmpp" name="Nmpp" type="number" step="0.001" 
        placeholder="Mpp" required/></td>
<td><input class="form-control" id="id_Nimp" name="Nimp" type="number" step="0.001" 
        placeholder="Imp" required/></td>
<td><input class="form-control" id="id_Nvmp" name="Nvmp" type="number" step="0.001" 
        placeholder="Vmp" required/></td>
<td><input class="form-control" id="id_Nff" name="Nff" type="number" step="0.001" 
        placeholder="FF" required/></td>
</tr>
<tr>
<td>TEMP: </td>
<td><input class="form-control" id="id_iscTemp" name="iscTemp" type="number" step="0.001" 
        placeholder="IscTemp" required/></td>
<td><input class="form-control" id="id_vocTemp" name="vocTemp" type="number" step="0.001" 
        placeholder="VocTemp" required/></td>
<td><input class="form-control" id="id_mppTemp" name="mppTemp" type="number" step="0.001" 
        placeholder="MppTemp" required/></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>IRRADEFF: </td>
<td><input class="form-control" id="id_100w" name="100w" type="number" step="0.001" 
        placeholder="100W" required/></td>
<td><input class="form-control" id="id_200w" name="200w" type="number" step="0.001" 
        placeholder="200W" required/></td>
<td><input class="form-control" id="id_300w" name="300w" type="number" step="0.001" 
        placeholder="300W" required/></td>
<td><input class="form-control" id="id_400w" name="400w" type="number" step="0.001" 
        placeholder="400W" required/></td>
<td><input class="form-control" id="id_500w" name="500w" type="number" step="0.001" 
        placeholder="500W" required/></td>
<td><input class="form-control" id="id_600w" name="600w" type="number" step="0.001" 
        placeholder="600W" required/></td>
</tr>
<tr>
<td>&nbsp;</td>
<td><input class="form-control" id="id_700w" name="700w" type="number" step="0.001" 
        placeholder="700W" required/></td>
<td><input class="form-control" id="id_800w" name="800w" type="number" step="0.001" 
        placeholder="800W" required/></td>
<td><input class="form-control" id="id_900w" name="900w" type="number" step="0.001" 
        placeholder="900W" required/></td>
<td><input class="form-control" id="id_1000w" name="1000w" type="number" step="0.001" 
        placeholder="1000W" required/></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>WARRANTEFF: </td>
<td><input class="form-control" id="id_1y" name="1y" type="number" step="0.001" 
        placeholder="1 Year" required/></td>
<td><input class="form-control" id="id_10y" name="10y" type="number" value="None" step="0.001" placeholder="10 Year" requierd/>
<input class="form-control" id="id_25y" name="25y" type="number" value="None" step="0.001" placeholder="25 Year" required/></td>
<td><select name="year" class="custom-select my-1 mr-sm-2" id="year">
	    	<option value="10" selected>Year 10</option>
                <option value="25">Year 25</option>
        </select><id="info" title="Please enter efficiency after 10 or 25 years" style="cursor: pointer">&#9432; </td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<input name="addNew" class="addSolar" type="submit" value="Add New" style="cursor: pointer">
</form>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="../../static/js/requiredField.js"></script>
<script src="../../static/js/new.js"></script>

{% endblock %}
