{% extends 'pages/base.html' %}
{% load staticfiles %}
{% block title_block %}
  Solar Panels
{% endblock %}



{% block body_block %}

 <link href="../../static/css/panels.css" rel="stylesheet">

<div class="panels">
<table class="table">
<tbody>
<tr>
<td id="titles">Admin Solar Panels</td>
<td id="titles">Custom Solar Panels</td>
</tr>
<tr>
<td width="50%">{% for gen in generators %}
      {%if gen.type == "admin" %}
	    	<a class="list-group-item" href="{% url 'update' gen.gen %}">{{gen.gen}}</a>
      {% endif %}
    {% endfor %}</td>
<td width="50%">{% for gen in generators %}
      {%if gen.type == "custom" %}
	    	<a class="list-group-item" href="{% url 'update' gen.gen %}">{{gen.gen}}</a>
      {% endif %}
    {% endfor %}
<a href="{% url 'new' %}" class="button">&#x229E;</a></td>
</tr>
</tbody>
</table>
</div>

<script type="text/javascript">
var valid = "{{valid}}";

window.onload = function(){
   if(valid == "False"){
	alert("It looks like you added an invalid value!!\nSpecial characters are not allowed except '.' and '-'.")
   }
}
</script>

{% endblock %}
