{% extends 'pages/base.html' %}
{% load staticfiles %}
{% block title_block %}
  Update
{% endblock %}



{% block body_block %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="../../static/css/update.css" rel="stylesheet">
{% csrf_token %}

<div class="updatePanel">
{% for g in generators %}
{% if g.gen == gen %}
<a id="back" class="backBtn" title="Cancel" href="{% url 'panels' %}">⬅</a>
<br>
<label id="title" ">Solar Panel:</label>
<br>
<form id="genData" role="form"  method="get" action="/updateSolar">
	<table id="table">
<tbody>
<tr>
<td>Genarator Name: </td>
<td><input class="form-control" id="id_name" maxlength="30" name="name" value="{{g.gen}}" type="text" placeholder={{g.gen}} required/></td>
<td><input class="form-control" id="id_oldName" maxlength="30" name="oldName" value="{{g.gen}}" type="text" placeholder={{g.gen}} style="display: none" /></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Area: </td>
<td><input class="form-control" id="id_area" name="area" value={{g.details.AREA}} type="number" step="0.001" 
        placeholder={{g.details.AREA}} required/></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>STC: </td>
<td><input class="form-control" id="id_Sisc" name="Sisc" value={{g.details.STC.Isc}} type="number" step="0.001" 
        placeholder="Isc: {{g.details.STC.Isc}}" required/></td>
<td><input class="form-control" id="id_Svoc" name="Svoc" value={{g.details.STC.Voc}} type="number" step="0.001" 
        placeholder="Voc: {{g.details.STC.Voc}}" required/></td>
<td><input class="form-control" id="id_Smpp" name="Smpp" value={{g.details.STC.Mpp}} type="number" step="0.001" 
        placeholder="Mpp: {{g.details.STC.Mpp}}" required/></td>
<td><input class="form-control" id="id_Simp" name="Simp" value={{g.details.STC.Imp}} type="number" step="0.001" 
        placeholder="Imp: {{g.details.STC.Imp}}" required/></td>
<td><input class="form-control" id="id_Svmp" name="Svmp" value={{g.details.STC.Vmp}} type="number" step="0.001" 
        placeholder="Vmp: {{g.details.STC.Vmp}}" required/></td>
<td><input class="form-control" id="id_Sff" name="Sff" value={{g.details.STC.FF}} type="number" step="0.001" 
        placeholder="FF: {{g.details.STC.FF}}" required/></td>
</tr>
<tr>
<td>NOCT: </td>
<td><input class="form-control" id="id_Nisc" name="Nisc" value={{g.details.NOCT.Isc}} type="number" step="0.001" 
        placeholder="Isc: {{g.details.NOCT.Isc}}" required/></td>
<td><input class="form-control" id="id_Nvoc" name="Nvoc" value={{g.details.NOCT.Voc}} type="number" step="0.001" 
        placeholder="Voc: {{g.details.NOCT.Voc}}" required/></td>
<td><input class="form-control" id="id_Nmpp" name="Nmpp" value={{g.details.NOCT.Mpp}} type="number" step="0.001" 
        placeholder="Mpp: {{g.details.NOCT.Mpp}}" required/></td>
<td><input class="form-control" id="id_Nimp" name="Nimp" value={{g.details.NOCT.Imp}} type="number" step="0.001" 
        placeholder="Imp: {{g.details.NOCT.Imp}}" required/></td>
<td><input class="form-control" id="id_Nvmp" name="Nvmp" value={{g.details.NOCT.Vmp}} type="number" step="0.001" 
        placeholder="Vmp: {{g.details.NOCT.Vmp}}" required/></td>
<td><input class="form-control" id="id_Nff" name="Nff" value={{g.details.NOCT.FF}} type="number" step="0.001" 
        placeholder="FF: {{g.details.NOCT.FF}}" required/></td>
</tr>
<tr>
<td>TEMP: </td>
<td><input class="form-control" id="id_iscTemp" name="iscTemp" value={{g.details.TEMP.IscTemp}} type="number" step="0.001" 
        placeholder="IscTemp: {{g.details.TEMP.IscTemp}}" required/></td>
<td><input class="form-control" id="id_vocTemp" name="vocTemp" value={{g.details.TEMP.VocTemp}} type="number" step="0.001" 
        placeholder="VocTemp: {{g.details.TEMP.VocTemp}}" required/></td>
<td><input class="form-control" id="id_mppTemp" name="mppTemp" value={{g.details.TEMP.MppTemp}} type="number" step="0.001" 
        placeholder="MppTemp: {{g.details.TEMP.MppTemp}}" required/></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>IRRADEFF: </td>
<td><input class="form-control" id="id_100w" name="100w" value={{g.details.IRRADEFF.0}} type="number" step="0.001" 
        placeholder="100W: {{g.details.IRRADEFF.0}}" required/></td>
<td><input class="form-control" id="id_200w" name="200w" value={{g.details.IRRADEFF.1}} type="number" step="0.001" 
        placeholder="200W: {{g.details.IRRADEFF.1}}" required/></td>
<td><input class="form-control" id="id_300w" name="300w" value={{g.details.IRRADEFF.2}} type="number" step="0.001" 
        placeholder="300W: {{g.details.IRRADEFF.2}}" required/></td>
<td><input class="form-control" id="id_400w" name="400w" value={{g.details.IRRADEFF.3}} type="number" step="0.001" 
        placeholder="400W: {{g.details.IRRADEFF.3}}" required/></td>
<td><input class="form-control" id="id_500w" name="500w" value={{g.details.IRRADEFF.4}} type="number" step="0.001" 
        placeholder="500W: {{g.details.IRRADEFF.4}}" required/></td>
<td><input class="form-control" id="id_600w" name="600w" value={{g.details.IRRADEFF.5}} type="number" step="0.001" 
        placeholder="600W: {{g.details.IRRADEFF.5}}" required/></td>
</tr>
<tr>
<td>&nbsp;</td>
<td><input class="form-control" id="id_700w" name="700w" value={{g.details.IRRADEFF.6}} type="number" step="0.001" 
        placeholder="700W: {{g.details.IRRADEFF.6}}" required/></td>
<td><input class="form-control" id="id_800w" name="800w" value={{g.details.IRRADEFF.7}} type="number" step="0.001" 
        placeholder="800W: {{g.details.IRRADEFF.7}}" required/></td>
<td><input class="form-control" id="id_900w" name="900w" value={{g.details.IRRADEFF.8}} type="number" step="0.001" 
        placeholder="900W: {{g.details.IRRADEFF.8}}" required/></td>
<td><input class="form-control" id="id_1000w" name="1000w" value={{g.details.IRRADEFF.9}} type="number" step="0.001" 
        placeholder="1000W: {{g.details.IRRADEFF.9}}" required/></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>WARRANTEFF: </td>
<td><input class="form-control" id="id_1y" name="1y" value={{g.details.WARRANTEFF.0}} type="number" step="0.001" 
        placeholder="1 Year: {{g.details.WARRANTEFF.0}}" required/></td>
<td><input class="form-control" id="id_10y" name="10y" value={{g.details.WARRANTEFF.10}} type="number" step="0.001" placeholder="10 Year: {{g.details.WARRANTEFF.10}}" required/>
<input class="form-control" id="id_25y" name="25y" value={{g.details.WARRANTEFF.25}} type="number" step="0.001" placeholder="25 Year: {{g.details.WARRANTEFF.25}}" required/></td>
{% if g.type == "custom" %}
<td><select name="year" class="custom-select my-1 mr-sm-2" id="year">
	    	<option value="10" selected>Year 10</option>
                <option value="25">Year 25</option>
        </select><id="info" title="Please enter efficiency after 10 or 25 years" style="cursor: pointer">&#9432;</td>
{% endif %}
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
{% if g.type == "custom" %}
<a id="del" class="fa fa-trash-o" title="Delete Solar Panel" style="font-size:48px;color:red" href="{% url 'deleteSolar' gen %}"></a>
<input name="add" class="updateSolar" type="submit" value="Save" style="cursor: pointer">
{% endif %}
</form>
	    {% endif %}
			
{% endfor %}
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="../../static/js/requiredField.js"></script>
<script src="../../static/js/update.js"></script>


{% endblock %}
