.info{
    margin-top: 100px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: white;
    width: 100%;
}

.cont{
    word-spacing: 150px;
    padding: 15px;
}

.gen2{
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 25px;
    color: white;
    background-color:  #ffc477;
    font-weight: bold;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #eeb44f;
}

.date{
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:6px;
    margin-right: 7px;
    font-size: 21px;
}

.gen2:hover{
    background-color: #fb9e25;
}


.form{
    text-align: center;
    z-index: 1;
}


body, html {

  margin: 0;
      /* The image used */
  background-image: url("../media/bg.jpg");

  /* Full height */
    overflow-y: auto;
  height: 100%;
  width: 100%;
  position: relative;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    padding-bottom: 10px;
}


