#canvasWrapper {
    position: relative;
    float: left;
    margin-left: 15%;
    margin-top: 10px;
    height: 70vh;
    width: 140vh;
    background-color: #f8f8f8;
    border-style: solid;
    padding: 15px;

}

#csvButton{
    position: relative;
    margin-left: 250px;
    font-size: 20px;
    color: blue;
    background-color:  #f0f0f0;
    font-weight: bold;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:1px;
    border:1px solid #eeb44f;
}

#csvButton:hover{
    cursor: pointer;
}
