#compareCanvasWrapper {
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 3.5%;
    height: 70vh;
    width: 90%;
    background-color: #f8f8f8;
    border-style: solid;
    padding: 15px;

}

#analysis {
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 3.5%;
    height: 70vh;
    width: 90%;
    background-color: #f8f8f8;
    border-style: solid;
    padding: 15px;
}

#myCarousel {
    margin-left: 12%;
}

.carousel-control-prev {
    width: 5%;
}

.carousel-control-next {
    width: 5%;
}

.table {
    font-size: 20px;
    text-align: center;
}

#title {
    text-align: left;
}

.table2 {
    font-size: 23px;
    text-align: center;
    width: 100%;

}

#title2 {
    text-align: left;
    width: 40%;
}

#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#show-hide-owm {
    cursor: pointer;
    font-size: 15px;
    color: white;
    background-color:  #146EB4;
    font-weight: bold;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}

#show-hide-owm:hover{
    background-color:  #2b5797;
}

#show-hide-yh {
    cursor: pointer;
    font-size: 15px;
    color: white;
    background-color:  #00a300;
    font-weight: bold;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}

#show-hide-yh:hover{
    background-color:  #1e7145;
}
