.newPanel{
    margin-top: 80px;
    margin-left: 20px;
    text-align: left;
    font-size: 17px;
}

#title{
    font-size: 27px;
    font-weight: bold;
}

.addSolar{
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 1568px;
    font-size: 35px;
    color: white;
    background-color:  #4285F4;
    font-weight: bold;
}

.addSolar:hover{
    background-color: #3B5998;
}

#back{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:30%;
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

#back:hover{
    border: 1px solid #66757F;
}

#id_25y{
    display: none;
}

.form-control{
    background-color: #f0f0f0;
}

#year{
    background-color: #f0f0f0;
} 
