.panels{
    margin-top: 80px;
    width: 100%;
}


a.button:hover{
    color: #034f84;
}

a.button {
    text-decoration: none;
    margin-left: 20px;
    margin-top: 25px;
    font-size: 35px;
    color: #4285F4;
    background-color:  white;
    border-style: none;
}

.table{
    width: 100%;
}

#titles{
    font-size: 25px;
}
