<!Doctype html>
{% load staticfiles %}

<script type="text/javascript">
var error = "{{error}}";
console.log(error)
   if(error == "True"){
	alert("Data for this date at this location doesn't exist")
   }
</script>


<link href="{% static "css/ajax_graph.css" %}" rel="stylesheet">

{% if error == False %}
<script src="{% static "js/chart.js" %}"></script>


<div align="center" id="canvasWrapper">
    <canvas id="myChart"></canvas>
</div>
<div id="json-data-dd" data-vals="{{ json_data }}" hidden></div>
<div id="data-download-dd">
    <button id="csvButton" type="button">&#x2913; Download CSV</button>
</div>
{% endif %}
