<!Doctype html>
{% load staticfiles %}


{% block body_block %}
    <script type="text/javascript">
        var error = "{{error}}";
        console.log(error)
        if (error == "True") {
            alert("Data for this date at this location doesn't exist")
        }
    </script>

    <link href="{% static "css/compare.css" %}" rel="stylesheet">
    {% if error == False %}

        <script src="{% static "js/compare.js" %}"></script>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>

            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="first-slide" align="center" id="compareCanvasWrapper"
                         alt="First slide">
                        <input type="button" name="show-hide-owm" value="Hide OWM error"
                               id="show-hide-owm"
                        >
                        <input type="button" name="show-hide-yh" value="Hide YH error"
                                id="show-hide-yh"
                    >
                        <canvas id="compareChart"></canvas>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="second-slide" id="analysis" alt="Second slide">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>&nbsp;</td>
                                <td style="font-weight: bold">Actual Data</td>
                                <td style="font-weight: bold">Open Weather API</td>
                                <td style="font-weight: bold">Yahoo Weather API</td>
                            </tr>
                            <tr>
                                <td id="title">Total Energy</td>
                                <td>{{ json_comp.total_actual }}Kwh</td>
                                <td>{{ json_comp.total_energy_owm }}Kwh</td>
                                <td>{{ json_comp.total_energy_yh }}Kwh</td>
                            </tr>
                            <tr>
                                <td id="title">Energy 95% CI</td>
                                <td>&mdash;</td>
                                <td>{{ json_comp.error_owm }}Kwh</td>
                                <td>{{ json_comp.error_yh }}Kwh</td>
                            </tr>
                            <tr>
                                <td id="title">Energy Standard Deviation</td>
                                <td>&mdash;</td>
                                <td>{{ json_comp.std_dev_owm }}Kwh</td>
                                <td>{{ json_comp.std_dev_yh }}Kwh</td>
                            </tr>
                            <tr>
                                <td id="title">Average Power</td>
                                <td>{{ json_comp.avrg_actual }}W</td>
                                <td>{{ json_comp.avrg_owm }}W</td>
                                <td>{{ json_comp.avrg_yh }}W</td>
                            </tr>
                            <tr>
                                <td id="title">Maximum Power</td>
                                <td>{{ json_comp.max_actual }}W</td>
                                <td>{{ json_comp.max_owm }}W</td>
                                <td>{{ json_comp.max_yh }}W</td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <br>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td id="title2" style="font-weight: bold">DIfference</td>
                                <td style="font-weight: bold">Open Weather API</td>
                                <td style="font-weight: bold">Yahoo Weather API</td>
                            </tr>
                            <tr>
                                <td id="title2">Actual energy - Predicted energy</td>
                                {% if json_comp.diff_energy_owm > 0 %}
                                    <td style="color: green">{{ json_comp.diff_energy_owm }}Kwh
                                        &#9650;
                                    </td>
                                {% else %}
                                    <td style="color: red">{{ json_comp.diff_energy_owm }}Kwh
                                        &#128315;
                                    </td>
                                {% endif %}
                                {% if json_comp.diff_energy_yh > 0 %}
                                    <td style="color: green">{{ json_comp.diff_energy_yh }}Kwh
                                        &#9650;
                                    </td>
                                {% else %}
                                    <td style="color: red">{{ json_comp.diff_energy_yh }}Kwh
                                        &#128315;
                                    </td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td id="title2">Actual max power - Predicted max power</td>
                                {% if json_comp.diff_max_owm > 0 %}
                                    <td style="color: green">{{ json_comp.diff_max_owm }}W &#9650;
                                    </td>
                                {% else %}
                                    <td style="color: red">{{ json_comp.diff_max_owm }}W &#128315;
                                    </td>
                                {% endif %}
                                {% if json_comp.diff_max_yh > 0 %}
                                    <td style="color: green">{{ json_comp.diff_max_yh }}W &#9650;
                                    </td>
                                {% else %}
                                    <td style="color: red">{{ json_comp.diff_max_yh }}W &#128315;
                                    </td>
                                {% endif %}
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div id="json-compare-dd" data-vals="{{ json_compare }}" hidden></div>
    {% endif %}
{% endblock %}
